<p id="notice"><%= notice %></p>

<h1>Listing Sejours</h1>

    <div class="panel panel-default">
    <% @sejours.each do |sejour| %>
	<div class="panel-heading">
        Lieu :<%= sejour.lieu %></div><br>
        <div class="panel-body">
        Description :<%= sejour.description %><br>
        Note :<%= sejour.note %><br>
        Le recommandez-vous ? <% if sejour.recommandation == true %>
        Oui
        <% else %>
        Non
        <% end %>
        </div>
        <div class="panel-footer">
        <%= link_to 'Montrer', sejour %><br>
        <% if sejour.user == current_user %>
        <%= link_to 'Modifier', edit_sejour_path(sejour) %>
        <%= link_to 'Supprimer', sejour, method: :delete, data: { confirm: 'Etes vous sûr?' } %>
        <% end %>
        </div>
    <% end %>
    </div>

<br>

<%= link_to 'Nouveau séjour', new_sejour_path %>
