<% provide(:titre, "Visualisation sejour") %>
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-sm-12">
  Ce sejour qui a eu lieu en
  <%= @sejour.lieu %> a obtenu la note de : <%= @sejour.note %>.
    <% if @sejour.recommandation == true %>
  Il recommande fortement ce voyage
  <% else %>
  Il ne recommande pas ce voyage 
  <% end %>
  </div>
  </div>
  <div class="row">
  <div class="col-sm-12">
  <strong>Description:</strong>
  <%= @sejour.description %>
  </div>



<% if @sejour.user == current_user %>
<%= link_to 'Modifier | ', edit_sejour_path(@sejour) %>
<% end %>
<%= link_to 'Retour', sejours_path %>
