<p id="notice"><%= notice %></p>

<p>
  <strong>Lieu:</strong>
  <%= @sejour.lieu %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sejour.description %>
</p>

<p>
  <strong>Note:</strong>
  <%= @sejour.note %>
</p>

<p>
  <strong>Recommandation:</strong>
  <%= @sejour.recommandation %>
</p>

<%= link_to 'Modifier', edit_sejour_path(@sejour) %> |
<%= link_to 'Retour', sejours_path %>
